/*Divs*/
#truck {
    width: 35px;
    height: 40px;
    background-image: url(semiTruck.png);
}
#road {
    width: 30px;
    max-height: 500px;
    background-image: linear-gradient(rgb(223, 161, 202), rgb(58, 50, 95));
    align-content: center;
    position: relative;
    animation: roadStretch 5s;
}

/*Animation keyframes*/

@keyframes roadStretch {
    from {transform: translateY(-100%);}
    to {transform: translateY(0);}
}

@keyframes movingSemi {
    from {top: 25px;}
    to {top: 500px;}
}