/*Divs*/
#container {
    width: 100px;
    max-height: 500px;
    position: relative;
}

#truck {
    background-image: url(semiTruck.png);
    z-index: 2;
}

#road {
    position: absolute;
    width: 40px;
    height: 50px;
    z-index: 1;
    background-image: linear-gradient(rgb(204, 152, 206), rgb(48, 49, 116));
}