/*Divs*/

#road {
    width: 50px;
    max-height: 500px;
    background-image: linear-gradient(rgb(223, 161, 202), rgb(58, 50, 95));
    align-content: center;
    position: relative;
    animation: roadStretch 5s infinite;
}

/*Animation keyframes*/

@keyframes roadStretch {
    from {transform: translateY(-100%);}
    to {transform: translateY(0);}
}